@inject Microsoft.AspNetCore.Identity.SignInManager<SSR.PL.Web.Entities.ApplicationUser<System.Guid>> SignInManager 

<div id="divLogin" class="container">
    <div class="form-signin float-left mt-5">
        <form id="frmLogin" method="post" asp-controller="Profile" asp-action="Login">
            @Html.AntiForgeryToken()
            <h1>Login to Your Account</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="txtemail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="txtpassword" name="password" class="form-control" placeholder="Password" required="">
            <div class="checkbox">
                <label><input type="checkbox" name="rememberme" value="True"> Remember me</label>
            </div>
            <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <a asp-action="Register" asp-controller="Profile">Register if new user</a>

    </div>
    <div class="float-right mt-5">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
@section Scripts{

}